<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mikutra</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <ul class="container">
        <li><a href="about" style="color: white;">About Us</a></li>
        <li><a href="service"style="color: white;">Products and Services</a></li>
        <li><a href="signUp"style="color: white;">Be Part of Our Family</a></li>
    </ul>
    <img src="./Logo.jpg" alt="" id="logo">
    <div class="title">
        <h1>Koperasi Mitra Lingkungan Sejahtera</h1>
        <h2><em>Gotong royong memperkuat ekonomi lokal yang selaras alam </em></h2>
    </div>

    <h3><a href="login"  class="outerLink">Login</a></h3> 
    <br>
    <h3><a href="products" class="outerLink">Buy Our Local and Sustainable Products</a></h3>
    <br>
    
    <footer>
        Thank you for visiting our website <br>
        For more information please contact us at admin@mikutra.com
    </footer>
</body>
</html>